
<div class="container">
 <div class="row">
  <div class="col-md-3">
  <h2>User info</h2>
  <img class="attachment user profile_image fallback"><table class="table">
   <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>

<table class="table table-hover table-inverse">
  <tr>
   <th>name</th>
   <th><%= @user.name %></th>
  </tr>
  <tr>
   <th>introduction</th>
   <th><%= @user.introduction %></th>
  </tr>
</table>

<%= link_to '', edit_user_path(@user),class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>


  <a href="/users/id/edit"></a>
    <h2>New book</h2>
    <label for="book_title">Title</label>
    <input class="form-control book_title" type="text" name="book[title]" id="book_title">

    <label for="book_opinion">Opinion</label>
    <textarea class="form-control book_body" name="book[body]" id="book_body"></textarea>

    <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
</div>

<div class="col-md-8">
<h2>Users</h2>
<table class="table">

   <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
   </thead>

   <tbody>
    <% @users.each do |user| %>
     <div>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpg', fallback: "no_image.jpg" %></td>
        <td><%= user.name %></td>
        <td><%= link_to "show", user_path(user.id)  %>
        </td>
      </tr>
     </div>
    <% end %>
   </tbody>
   </div>
   </div>
   </div>

</table>

 <footer>
  <p>CopyRight Infratop.inc</p>
 </footer>